@charset "utf-8";

/* ---------- COMMON STYLES ---------- */

body {
    background-color: #E5E5E5;
    color: #58595B;
    font-family: "PT Sans";
    font-size: 10pt;
    margin: 0 auto;
    width: 100%;
}

img {
	border: 0;
}

a {
    text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

h1 {
    font-size: 14pt;
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
}

h2 {
    font-size: 10pt;
}

h3 {    
    font-size: 10pt;
}

hr {
    background-color: #e5e3d4;
    border: 0 none;
    color: #e5e3d4;
    height: 1px;
}

.title {
    border-bottom: 1px solid #CFCFCF;
    color: #495461;
    font-family: 'PT Sans';
    padding: 5px 0 10px;
}

.line {
    display: block;
    height: 4px;
    margin: 7px 0 -11px;
    width: 50px;
}

.line-blue {
    background: none repeat scroll 0 0 #5FABDF;
}

.line-red {
    background: none repeat scroll 0 0 #DE6262;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: local("PT Sans"), local("PTSans-Regular"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff") format("woff");
}

.mr10 {
    margin-right: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.h36 {
    height: 36px;
}

/* HEADER */

header {
    background-color: #3C454F;
    height: 60px;
    width: 100%;
}

header #icon-sidemenu {
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
}

header .open {
    color: #5fabdf;
}

.icon-white {
    color: #F2F2EA;
}

header > nav {
    float: right;
}

header > nav ul li {
    float: left;
}

header > nav.main ul li:last-child {
    float: right;
}

header > nav ul li a {
    color: #FFFFFF;
    display: block;
    padding: 21px;
    text-decoration: none;
}

header > nav.main ul li a:hover {
    background-color: #495461;
}

header > nav.main ul li a.active {
    background-color: #495461;
}

header > nav.sub {
    background-color: #495461;
    height: 60px;
    position: absolute;
    width: 1000px;
    z-index: 20;
    top: 60px;
}

header > nav.sub ul li a:hover {
    color: #7ACBF2;
}

header > nav.sub ul li a.active {
    color: #7ACBF2;
}

header > nav.sub:last-child {
    height: auto;
    position: absolute;
    right: 0;
    width: 200px;
}

li.sep {
    border-top: 1px solid #94979A;
    width: 150px;
    margin-left: 25px;
}

/* FORM */

#searchForm div.controls:first-child {
    float: left;
}

#searchForm div.controls:last-child {
    float: right;
}

#searchForm input {
    border-radius: 3px 0 0 3px;
}

#searchForm button {
    border-left: 0;
    border-radius: 0 3px 3px 0;
    margin: 0;
}

.f400 {
    width: 400px;
}

.controls:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    float: left;
}

.controls input {
    float: right;
    border: 1px solid #E5E5E5;
    padding: 8px;
    font-family: 'PT Sans';
    font-size: 10pt;
    color: #58595B;
    width: 250px;
    margin: 0;
}

.controls select {
    float: right;
    border: 1px solid #E5E5E5;
    padding: 8px;
    font-family: 'PT Sans';
    font-size: 10pt;
    color: #58595B;
    width: auto;
}

.controls textarea {
    float: right;
    border: 1px solid #E5E5E5;
    padding: 10px;
    font-family: 'PT Sans';
    font-size: 10pt;
    color: #58595B;
    width: 250px;
    height: 150px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a3a4a8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a3a4a8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a3a4a8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a3a4a8;
}

/* BUTTONS */

.btn-flat {
    padding: 5px 10px;
    font-size: 10pt;
    border: 0;
    color: #FFFFFF;
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -ms-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
    transition: all 0.30s ease-in-out 0s;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.btn-flat-blue {
    background-color: #52A8EC;
}

.btn-flat-green {
    background-color: #70C67F;
}

.btn-flat-grey {
    background-color: #3C454F;
}

.btn-flat-grey-light {
    background-color: #F6F6F6;
    color: #7ebd26;
}

.btn-flat-red {
    background-color: #DE6262;
}

.btn-flat-white {
    background-color: #FFFFFF;
    color: #262626;
    border: 1px solid #CFCFCF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-flat:hover {
    background-color: #333333;
}

.btn-flat-white:hover {
    background-color: #FFFFFF;
}

.btn-none {
    background: none;
    border: none;
    cursor: pointer;
}

/* DASHBOARD */

#wrap {
    width: 100%;
    border-top: none;
    min-height: 600px;
    margin: 0 auto;
}

#dash-sidemenu {
    background-color: #F2F2EA;
    border-right: 1px solid #D4D5D0;
    min-height: 500px;
    width: 198px;
    box-shadow: 1px 1px 2px #d4d5d0;
    position: absolute;
    z-index: 10;
}

#dash-sidemenu li {
    border-top: 0;
    padding: 20px;
    -webkit-transition: all 0.10s ease-in-out 0s;
    -moz-transition: all 0.10s ease-in-out 0s;
    -ms-transition: all 0.10s ease-in-out 0s;
    -o-transition: all 0.10s ease-in-out 0s;
    transition: all 0.10s ease-in-out 0s;
}

#dash-sidemenu li.m1 {
    border-left: 5px solid #5fabdf;
}

#dash-sidemenu li.m2 {
    border-left: 5px solid #de6262;
}

#dash-sidemenu li.m3 {
    border-left: 5px solid #70c67f;
}

#dash-sidemenu li.m4 {
    border-left: 5px solid #9e62de;
}

#dash-sidemenu li.m5 {
    border-left: 5px solid #6270db;
}

#dash-sidemenu li.m6 {
    border-left: 5px solid #dca761;
}

#dash-sidemenu li.m7 {
    border-left: 5px solid #a66f72;
}

#dash-sidemenu li.m8 {
    border-left: 5px solid #71a69e;
}

#dash-sidemenu li.m9 {
    border-left: 5px solid #727274;
}

#dash-sidemenu li:hover {
    border-width: 10px;
}

#dash-sidemenu hr {
    margin: -1px;
}

#dash-sidemenu a {
    color: #58595B;
}

#dash-content {
    width: 100%;
    position: relative;
}

.dash-content-title {
    background-color: #F7F6F2;
    border-bottom: 1px solid #CECCC0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.dash-content-title h1 {
    display: inline;
    margin-left: 10px;
}

.title-blue {
    border-top: 5px solid #5fabdf;
}

.title-red {
    border-top: 5px solid #DE6262;
}

.title-green {
    border-top: 5px solid #70C67F;
}

.dash-content-body {
    padding: 20px;
}

/* ENTITIES */

#navigation a {
    color: #58595B;
}

.unit {
    border: 1px solid #D8D8D8;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.unit-white {
    background-color: #FFFFFF;
}

.unit-grey {
    background-color: #F5F5F5;
}

.unit h2 {
    color: #262626;
    margin: 0;
}

.unit ul li {
    display: inline;
}

.unit a {
    color: #262626;
}

.unit-table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.unit-row {
    display: table-row;
    height: 60px;
}

.unit-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.cell-img {
    width: 46px;
}

.cell-content {
    padding-left: 12px;
}

.cell-action {
    width: 120px;
}

/* PAGINATION */

.page_navigation {
    padding-top: 10px;
}

.page_navigation a {
    padding: 2px 5px;
    font-size: 10pt;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -ms-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
    transition: all 0.30s ease-in-out 0s;
    cursor: pointer;
    background-color: #E5E5E5;
}

.page_navigation a:hover {
    background-color: #58595B;
}

.page_navigation a.active_page,a.next_link,a.last_link,a.first_link,a.previous_link {
    background-color: #58595B;
}

.page_navigation a.no_more {
    background-color: #E5E5E5;
}