{% extends 'BOBackOfficeBundle::layout.html.twig' %}

{% block meta %}
	<meta name="description" content="">
	<meta name="keywords" content="">
{% endblock %}

{% block title %}
	BackOffice | Home
{% endblock %}

{% block titre %}
	BackOffice | Home
{% endblock %}

{% block body %}
	{% autoescape false %}
		<div class="dash-content-title">
            <i class="icon-home icon-large"></i>
            <div class="pull-right">
                <h1>> Index statistiques</h1>
            </div>
        </div>
	{% endautoescape %}
{% endblock %}