{% extends 'BOBackOfficeBundle::layout.html.twig' %}

{% block body -%}
    {% autoescape false %}
        <div class="dash-content-title title-red">
            <i class="icon-user icon-large"></i>
            <div class="pull-right">
                <h1>> Customers</h1>
            </div>
        </div>
        <div class="dash-content-body">
            <h1 class="title">Customer creation<span class="line line-red"></span></h1>
            <div class="clear-fix">
                <a href="{{ path('customer') }}" class="pull-left pb20"><button class="btn-flat btn-flat-white h36"><i class="icon-home"></button></i></a>
            </div>
            <div class="unit unit-grey">
                <form action="{{ path('customer_create') }}" method="post" class="f400" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <div class="controls">
                        <button type="submit" class="btn-flat btn-flat-red">Create</button>
                    </div>
                </form>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
